<h1>This is the Album you wanted to see!</h1>

<p>
  <b>Album Name:</b> <%= @album.name %>
</p>
<p>
  <b>Artist Name:</b> <%= @album.artist.name %>
</p>

<p>
 Click <b><a href="/albums/<%= @album.id%>/edit">here</a></b>  to edit this Album.
</p>
